
body {
    background-color: #ffff99;
}

h2.one {
    border-left: 10px solid;
    border-right: 10px solid;
    background-color: lightgrey;
}

div1 {
    border: 10px solid #cc0000;
    background-color:white;
    width:12%;
    float:right;
    padding: 20px;
    margin: 20px;
    font-weight: bold;
}

a.add:link, a.add:visited {
    background-color: #cc0000;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a.add:hover, a.add:active {
    background-color: red;
}

a:link, a:visited {
    color: #cc0000;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: #ffff99;
}

.image { 
   position: relative; 
   width: 80%;
}

h2.two { 
   position: absolute; 
   top: 160px; 
   left: 37%; 
   width: 100%; 
}

