#texture {
	background-image: url(dark.jpg); 
	position: fixed; 
	opacity: 0.9; 
	left: 0px; 
	top: 0px; 
	width: 100%; 
	height: 100%; 
	z-index: -1;
	overflow-x: scroll;
}

h1{
	color:white;
	text-align: center;
}

h3{
	color:white;
}

h2{
	color:black;
	background:#ffd633;
}

ul.menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
  overflow: hidden;
  background-color: #262626;
}

li.menu {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #ffd633;
    color: black;
}

.header-link a {
	color:#ffd633;
	text-decoration: none;
	float:right;
	clear:right;
	position:absolute;
  top:7px;
  right: 22px;
}

.table {
	height:60%;
	width:50%;
	margin: 3% 3% 3% 12%;
	float: left;
}

table {
    border-collapse: collapse;
    width:100%;
    float:left;
    margin: 0px 0px 30px 10px;
}

th,td {
    text-align:left;
    padding:5px;
    color: white;
}

tr.first, th.first {
	background:#ffd633;
	color:black;
}

.add{
	height:70%;
	width:25%;
	margin: 3% 5% 3% 0%;
	float: right;
	border-style: dotted;
	text-align:center;
	color:white;
}

input[type=text], input[type=date], input[type=password], input[type=email]{
    padding: 8px 8px;
    margin: 8px 0;	
    background-color: transparent;
    color: white;
		display: inline-block;
		width:130px;
}

textarea {
  background: transparent;
  color:white;
}

select {
    padding: 16px 20px;
    border: outset;
    border-radius: 4px;
    background-color: transparent;
    color:white;
}

.sign-in{
	height:30%;
	width:41%;
	margin: 1% auto;
	text-align:center;
	color:white;
	border-style: dashed;
}

.register{
	height:93%;
	width:41%;
	margin: 0 auto;
	text-align:center;
	color:white;
	border-style: dashed;
}

label {
    display: block;   
}

label.in{
	display:inline;
	padding: 0 1% 0 1%
}

html, body { 
	overflow:auto;
	
}
   
.settings{
	height:98%;
	width:41%;	
	margin: 0 auto;
	text-align:center;
	color:white;
	border-style: dashed;
}

#g {
	color: #00b300;
}

#r {
	color: #cc0000;
}

#y {
	color: #ffff1a;	
}

span{
	display: block;
}

form{
	padding: 3%
}

.button{
	margin: 3%
}

.button set{
	margin: 0%
}



